RewriteEngine On
RewriteBase /

# Редирект со старого index.php на /home
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^(.*)index\.php$ /home [R=301,L]

# Разрешаем статику
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^assets/ - [L]
RewriteRule ^css/ - [L]
RewriteRule ^admin/ - [L]

# Все остальные запросы → routes.php
RewriteRule ^ routes.php [L]